.main-button {
    display: inline-block;
    background-color: #F20732;
    box-shadow: 5px 5px 0 #fff;
    padding: 18px 28px;
    margin-right: 0;
    transition: transform 100ms linear;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", 'Arial', sans-serif;
    text-decoration: none;
}

.main-button:hover {
    transform: scale(1.08);
    background-color: #fff;
    box-shadow: 5px 5px 0 #F20732;
    color: #F20732;
    cursor: pointer;
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover {
    transform: scale(1.01);
    background-color: #fff;
    box-shadow: 5px 5px 0 #F20732;
    color: #F20732;
}